@{
    ViewBag.Title = "Currency exchange rate";
}

<div class="row">
    <div class="col-md-10">
        <script type="text/javascript">
            $(function () {
                var containerID = "#curgraph"
                $(containerID).highcharts({
                    title: {
                        text: '@ViewBag.CurrencyTitle',
                        x: -20 //center
                    },
                    subtitle: {
                        text: 'Source: cbr.ru',
                        x: -20
                    },
                    xAxis: {
                        categories: ['@Html.Raw(String.Join("','", ViewBag.Days))'],
                        title: {
                            text: '@ViewBag.Month'
                        }
                    },
                    yAxis: {
                        title: {
                            text: 'rate'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        valueSuffix: ''
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    },
                    series: [{
                        name: ' to Ruble',
                        data: [@String.Join(",",ViewBag.CurrencyRates)]
                    }]
                });
            });
        </script>
        <div id="curgraph" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        @Html.DropDownList("CurrencyNames")
    </div>
    <div class="col-md-2">
        @Html.DropDownList("Months")
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('select').change(function () {
            var containerID = '#curgraph';
            var chart = $(containerID).highcharts();

            var curSelected = "";
            $("#CurrencyNames option:selected").each(function () {
                curSelected += $(this)[0].value;
            });
            var monthSelected = "";
            $("#Months option:selected").each(function () {
                monthSelected += $(this)[0].value;
            });

            var chart_url = "/Home/UpdateChart";
           
            jsonData = JSON.stringify({Month:monthSelected, CurrencyCode:curSelected})
            $.ajax({
                type: "POST",
                url: chart_url, 
                data: jsonData,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccess,
                error: OnErrorCall
            });
   
            function OnSuccess(response) {
                //console.log(response);
                chart.setTitle({ text: response.title });
                chart.xAxis[0].setTitle({ text: response.month });
                chart.xAxis[0].setCategories(response.days);
                var rates = response.rates.map(function (item) { return parseFloat(item); });
                chart.series[0].setData(rates, true, true, false);
            }
            function OnErrorCall(response) { console.log(response); }
        });
    });
</script>