@{
    ViewBag.Title = "Currency exchange rate";
}

<div class="row">
    <div class="col-md-10">
        <script type="text/javascript">
            @*@Html.Raw(String.Format("{0}", ViewBag.CurrencyGraph))*@
            $(function () {
                $('#curgraph').highcharts({
                    title: {
                        text: '@ViewBag.CurrencyTitle',
                        x: -20 //center
                    },
                    subtitle: {
                        text: 'Source: cbr.ru',
                        x: -20
                    },
                    xAxis: {
                        categories: ['@Html.Raw(String.Join("','", ViewBag.Days))'],
                        title: {
                            text: '@ViewBag.Month'
                        }
                    },
                    yAxis: {
                        title: {
                            text: 'rate'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        valueSuffix: '@ViewBag.CurrencyTitle'
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    },
                    series: [{
                        name: '@ViewBag.CurrencyTitle to Ruble',
                        data: [@String.Join(",",ViewBag.CurrencyRates)]
                    }]
                });
            });
        </script>
        <div id="curgraph" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        @Html.DropDownList("CurrencyNames")
    </div>
    <div class="col-md-2">
        @Html.DropDownList("Months")
    </div>
</div>